html {
    font-size: 0.625rem;
}
* {
    box-sizing: border-box;
}
ul {
    display:flex;  
    padding: 0;
    margin: 0; 
    border-top: 0.3px solid rgba(122, 121, 121, 0.247);
}
li {
   list-style: none;  
   border: 0.3px solid rgba(122, 121, 121, 0.247);
   border-bottom: none;
   border-top:none;
   font-size: 1.1rem;
   text-align: center;
   padding-top: 9px;
}
li:last-child {
    margin-left: 10rem;
    border-left: none;
}
a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: rgb(104, 102, 102);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.2em;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgb(70, 191, 228);
  display:flex;
  margin:auto;
  visibility: hidden;
}
.border-right_none:first-child {
    border-left: none; 
}
.border-right_none {
    border-right: none;
}
.search-field {
    background-color: transparent;
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 5px;
}
header {
    display: flex;     
	justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.header-menu {
    padding-right: 7em;
}
 .burger-menu {
   display:none;
 }
 .header-menu a:hover {
     color:rgb(70, 191, 228);
 }
 .header-menu a:hover +  .arrow-up{
     visibility: visible;
 }
 .header_buttons {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border: none;
    background-color: white;
    margin-right: 1rem;
 }
 .header_buttons:not(:first-child)::before {
    position: absolute;    
    margin-left: 10px;
    content: '';
    height: 50%;
    left: calc(-1.1em - 5px);
    border: 0.5px solid rgba(122, 121, 121, 0.514);
    margin-top:5px;
 }
 #location {
    border:1px solid rgba(173, 173, 173, 0.692);
    border-radius: 0.3rem;
    width:15rem;
    height: 3rem;
    position: absolute;
    margin: -3.8rem 0 0 -10.6rem;
    visibility: hidden;
    text-align: center;
    font-size: 1.2rem;
    padding-top:0.6em;
 }
#location::before{
    content: '';
    background-image: linear-gradient(to top left, white 50%, transparent 50%);
    position: absolute;
    margin: 1.63rem 0 0 5.5rem;
    height: 1rem;
    width: 1rem;
    z-index: 2;
    transform: rotate(45deg);
    border-bottom: 1px solid rgba(173, 173, 173, 0.699);
    border-right: 1px solid rgba(173, 173, 173, 0.699);
}
#loc:hover + #sec {
    filter:hue-rotate(90deg);
}
#loc:hover + #location {
    visibility: visible;
    color: #928f8f;
}
.search-button {
    width: 14px;
    margin-top:2px;
}
.icons {
    width: 2.2rem;
}
.communication-types_location {
    position: absolute;
    left:67%;
    top: 8%;
}
 #main {
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: url("images/background.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#logo {
    width: 230px;
    margin-left: 27rem;
    margin-top:1.9rem;
}
.serch-text {
    border: none;
    background-color: transparent;
}
#quote{
    display: flex;
    flex-direction: column;
    padding: 13% 0 0;
    align-items: center;
}
#quote span:first-child{
    font-size: 3rem;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    z-index: 2;
    margin-left: -80px;
}
#quote span:nth-of-type(2){
    position: absolute;
    margin-left: -200px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 7rem;
    font-weight: bold;
    color: rgba(12, 172, 212, 0.288);
}
#quote span:last-child{
    margin-left: 100px;
    margin-top: 3px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.7rem;
}
.slides {
    display: flex;
    justify-content: flex-end;
    height: 180px;
    margin-top: -640px;
    margin-right: 290px;
    overflow: hidden;
}
.slides div {
    display: flex;
    position: relative;
}
.photoSlide {
    width: 23rem;  
}
.next_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    background-color: rgb(238, 237, 237);
}
.next_button:hover {
    background-color: rgba(236, 236, 236, 0.973);
    cursor: pointer;
}
#articles{
    margin:8% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:60%;
}
.article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    text-align: justify;
    flex-basis: 100%;
    margin: 0 4%;
}
.text p{
    font-size: 1.8rem;
    color:rgb(104, 102, 102);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.text span{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: rgb(104, 102, 102);
}
.iconParagraph {
    margin-right: 10px;
}
@media  (max-width: 920px) {
    .communication-types_location, .border-right_none, .slides, li:not(:last-child){
        display:none;
    }
    #articles {
        display: flex;
        flex-direction: column;
        margin:-25% auto;
    }
    .article {
        margin: 2% 4%;
    }
    header {
        margin-left: 5rem;
    }
    #logo {
        position: absolute;
        margin-left:60rem;
        margin-top:-2rem;
    }
    li:last-child {
        margin-left:110rem;
        border: none;
    }
    .burger-menu {
        display: block;
     } 
     .burger-menu p {
        display: block;
        width: 50px;
        height: 7px;
        margin: 0 0 12px;
        background-color: #2C87BE;
     } 
     .burger-menu + ul {
        display: block;
        position: absolute;
        top: 10%;
        padding: 8px 0;
        background: #fff;
        z-index: 5;    
     }
}