#itsButton {
    width: 240px; 
    padding: 11px; 
    background: linear-gradient(to top, rgb(194, 190, 190), #F5F5F5);
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 18px;
    border: 2px solid white;
}
#bord {
    width: 266px; 
    margin: auto;
    border: 2px solid gray;
    box-shadow: 0 0 10px rgba(160, 156, 156, 0.493);
    border-radius: 19px;
}
#cont {
   border: 2px solid gray; 
   box-shadow: 0 0 10px rgba(102, 100, 100, 0.76);
   border-radius: 10px;
   text-align: center;
   opacity: 0.6;
   padding:12px;
   background: linear-gradient(to top, rgb(158, 155, 155), #F5F5F5);
}
#firstStar {
    margin-right: 6px;
    opacity: 0.5;
}
#secondStar {
    margin-left: 6px;
    opacity: 0.5;
}