h6 {
    margin-top:0;
    color: red;
}
h2 {
    margin-bottom: 0;
}
hr {
    height: 0.1em;
    background-color: black;
    color:black;
    border: none;
}
.flex-outer {
    list-style-type: none;
    padding: 0; 
    margin-left: 10px;
}
li {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    margin-bottom: 10px;
}
label {
    flex: 1 1 1px;
    max-width: 220px;
}
input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
}
#message {
    padding: 40px;
}
button {
    width: 130px;
    height: 40px;
    margin-left: 60px;
    border-radius: 8px;
    background: linear-gradient(to top, rgb(226, 225, 225), rgb(236, 236, 236));
    opacity: 0.8;
    border: 1px solid rgb(167, 166, 166);
}
form input:required:invalid:focus + .clip:before {
    content: "Form field hint";
    color: white;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 120px;
    height: 30px;
    background-color: rgb(156, 42, 42);
    margin-left: 20px;
    -webkit-clip-path:polygon(4% 50%, 10% 30%, 10% 1%, 100% 1%, 100% 100%, 10% 99%, 10% 70%);
    clip-path: polygon(4% 50%, 10% 38%, 10% 1%, 100% 1%, 100% 100%, 10% 99%, 10% 62%);
}
form input:required:valid:focus + .clip:before {
    content: "Form field hint";
    color: rgb(255, 251, 251);
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 120px;
    height: 30px;
    background-color: rgb(42, 165, 48);
    margin-left: 20px;
    -webkit-clip-path:polygon(4% 50%, 10% 30%, 10% 1%, 100% 1%, 100% 100%, 10% 99%, 10% 70%);
    clip-path: polygon(4% 50%, 10% 38%, 10% 1%, 100% 1%, 100% 100%, 10% 99%, 10% 62%);
}
