table {
    border-collapse: collapse;
  }
  td {
    border: 1px solid black;
  }
  td, label {
    width: 70px;
    height: 70px;
    position: relative;
  }
  label {
    display: block;
  }
  input {
    position: absolute;
    top: -200px;
    left: 0;
  }
  input:checked:before {
    content: '♘';
    margin-left: 5px;
    position: absolute;
    text-align: center;
    width: 50px;
    line-height: 50px;
    top: 205px;
    font-size: 45px;
    color: red;
  }
  
  