#first {
    font-family: fantasy;
}
#second {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#third {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#fourth {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#fifth {
    font-family: cursive;
}