#first {
    border:1px solid black;
}
#second {
    outline: 1px solid palevioletred;
}
#third:hover {
    border: 3px dotted gold;
}
#fourth {
    box-shadow: 1px 2px 3px 2px blueviolet;
}
#fifth {
    border: 4px solid pink;
    outline: 3px solid rgb(146, 140, 140);
}
#sixth {
    border: 4px solid rgb(74, 177, 74);
    border-radius: 15px;
}
