#circle {
    width:200px;
    height: 200px;
    border-radius: 50%;
}
#figure {
    width:200px;
    height: 200px;
    clip-path: polygon(50% 0%, 80% 22%, 98% 35%, 77% 35%, 77% 76%, 48% 77%, 23% 77%, 23% 35%, 2% 35%, 18% 25%);
}
