#circle {
    width:200px;
    height: 200px;
    border-radius: 50%;
}
#figure {
    width:200px;
    height: 200px;
    -webkit-mask-size:200px;
    -webkit-mask-image: url(wall.png);
    mask-image: url(wall.png);
}
